.conten
{
    max-width: 100%;
    display: flexbox;
}

.list5
{
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    margin-top: 20px;
    border: 2px solid rgb(0, 0, 0);
    height:40px;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(225, 243, 182)
}
.list5 li
{
    color: rgb(0, 0, 0);
    
    display: inline-block;
    
    
    

    
}
