 
.shrimpcontainer h1 {
    text-align:  center;
    padding-top:  10px;
    align-items: center;
    margin:  0;
    font-style: italic;
    text-shadow: 2px 2px rgb(163, 163, 163);
}
.shrimpcontainer
{
    max-width: 100%;
    display: flexbox;
    background-color: #fff;
}
.listmanu  
{
    margin-top: 15px;
    display: flex;
    width: 100%;
    height: auto;
    height: 30px;
    list-style: none;
   box-shadow: green;
    color: red;
    border: 2px solid green;
    border-radius: 8px;
    
}
.listmanu li
{
    background-color: rgb(255, 255, 255);
    margin-right: 220px;

}
ิ.body
{
    background-color: red;
}
