.listmenuheader
{
   width: 100%;
}


.listmenu
{

    align-items: center;
    display: flex;
    width: 100%;
    padding-right: 15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    justify-content: space-around;
    margin-top: 5px;
    background-color: #f2d8b3;
    
}
.listmenu p
{
    padding: 10px 120px 0px 15px;
   
}
.daycss
{
    padding-top: ;
}